
@media(max-width: 768px) {
html{
overflow-x: hidden;
}
header{
justify-content: space-between;
}
header .bars{
display: block;
}
 #navbar{
position: absolute;
right: -4000px;
width: 30px;
top: 100px;
transition: right .3s ease;
}
#navbar.showNavbar{
background-color: #134;
right: 0;
height: 250px;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
width: 100%;
top: 70px;
text-align: center;
z-index: 999;
}

/* header nav ul{
display: flex;
flex-direction: column;
gap: 20px;  
align-items: center; 
margin-bottom: 12px;
justify-content: center;
} */
/*about me section responsivennes starts*/
.about-container{
flex-direction: column;
text-align: center;
}
.about-img img{
width: 200px; height: 200px;
}
.about-text h2{
font-size: 18px;
}


/* projects responsivennes starts*/
.projects {
padding: 40px 10px;
}

.projects .grid-container{
display: grid;
gap: 10px;
grid-template-columns: 1fr 1fr;
grid-auto-flow: row;
grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.projects .grid-container .projects-card img{
width: 100%;
height: auto;
}

/*service section styles*/
.services{
padding: 40px 10px;
}
.services .service-grid{
gap: 10px;
grid-template-columns: 1fr 1fr;
grid-auto-flow: row;
grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}


 .lang-name, .skill-info{
max-width: 380px;
padding: 8px 4px;
}
.skill-info i{
font-size: 20px;
flex-wrap: nowrap;
}


 
 .lang-name span {
  font-size: 8px;
}

/*contact section*/
.contact-container {
  
grid-auto-flow: row;
grid-template-columns: 1fr;

}

.contact-info h3 {
text-align: center;
}
.contact-form h3{
text-align: center;
}
.contact-form .input-group{
display: flex; gap: 30px;
}

.info-link{
text-align: center;
}

/* //footer link */
.footer-container{
 grid-template-columns: 1fr 1fr;
}

}







@media(max-width: 978px) {

.projects .grid-container{
display: grid;
gap: 10px;
grid-template-columns: 1fr 1fr;
grid-auto-flow: row;
grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

/*serives section cards*/
.services .service-grid{
display: grid;
gap: 10px;
grid-template-columns: 1fr 1fr;
grid-auto-flow: row;
grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

/*animating skill section*/
.lang-name, .skill-info{
max-width: 380px;
padding: 8px 4px;
}
.lang-name span {
  font-size: 8px;
}

.skill-info i{
flex-wrap: nowrap;
font-size: 17px;
  margin: 0 8px;
  padding: 4px;
}

@keyframes slide {
  0% {
    transform: translateX(-200px);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(-200px);
  }
}
/*contact section*/
.contact-container {
  
grid-auto-flow: row;
grid-template-columns: 1fr;

}
.contact-info h3 {
text-align: center;
}
.contact-form h3{
text-align: center;
}
.contact-form .input-group{
flex-direction: column;
}
.info-link{
text-align: center;
}


}